
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#navbar {
    height: 60px;
    background-color: black;
    display: flex;              
    align-items: center;     
    padding: 0 20px;
}

#logo {
    color: #f08804;
    font-size: 25px;
    margin-right: auto;    
}

#navbar a {
    color: #f0880;
    margin-left: 20px;
    text-decoration: none;
}

#navbar input {
    margin-left: 20px;
    padding: 5px;
}

#navbar button {
    background-color: #f08804;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

#sign {
    width: 300px;
    height: 50px;
    background-color: yellow;
    display: flex;              
    justify-content: center;
    align-items: center;
    margin: 30px auto;         
}
form {
    width: 300px;
    margin: 0 auto;            
}

form label {
    font-weight: bold;
}

form input, form button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
#account{
    color: white;
}
#myCart{
    color: white;
}
#account{
    color: white;
}
#contact{
    color: white;
}